:root {
    --prefixbox-primary: #1abc9c;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.search-form{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:30px 0 0 30px;
}
.search-title{
    font-family: 'Arial';
    display: flex;
    align-items: flex-start;
}
.search-input{
    width:500px;
    margin-left:15px;
    position:relative;
}
input#keyword{
    position: relative;
    width:100%;
    padding:8px 15px;
    font-size:15px;
    border-radius: 25px;
    border:2px solid var(--prefixbox-primary);
}
input#keyword:focus{
    outline: none;
}

/*--------------------AUTOCOMPLETE------------------------*/

.prefixbox-autocomplete-container {
    margin: 0;
    display: flex;
    background-color: #fff;
    border: 3px solid #1abc9c;
    border-radius: 1%;
    box-sizing: border-box;
    z-index: 62;
    text-align: left;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    top:44px;
}   
   .prefixbox-autocomplete-container.open {
        display: flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content: flex-start;
    }

.prefixbox-autocomplete-container .col-1 {
    width: 30%;
}
.prefixbox-autocomplete-container .col-2 {
    width: 70%;
    background:#fff;
}
.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container {
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    font-weight: 100;
    block-size: 5%;
    padding: 5px 12px !important;
    background-image: none !important;
    transition: all ease-in-out .2s !important;
}
.prefixbox-autocomplete-container .prefixbox-autocomplete-keyword-container:hover{
    text-indent: 5%;
    /* background-color: gray;
    border: 10px solid white; */
    border-radius: 10%;
    border-width: 5%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.185); /*update color*/
    padding: 5px 12px;
    border-radius: 50px;
    transition: all ease-in-out .2s !important;
}
.prefixbox-group-2-title.pfbx-group-title {
    display: none;
}
.prefixbox-autocomplete-product-container {
    width:100%;
    padding: 5px;
}
.prefixbox-autocomplete-product{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: 100%;
}
.prefixbox-autocomplete-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prefixbox-autocomplete-left img {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
}
.prefixbox-autocomplete-body {
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.prefixbox-autocomplete-right {
    width: 100%;
    font-size: 12px;
}
.prefixbox-autocomplete-right span{
    font-weight: 700;
}


@media (max-width: 500px){
    .search-form{
        margin:0;
        padding:15px;
    }
    .search-title{
        display: none;
    }
    .search-input{
        margin:0;
    }

}

/*Solution*/

.col-1{
    background-color: #1abc9c;
    color: #fff;
}
.group-id-1{
    color: #fff;
}
#prefixbox-autocomplete-0{
    /* color: red; */
}
.prefixbox-autocomplete-keyword-container{
    color: #fff;
}
.prefixbox-sale-price{
    color: red;
}
.prefixbox-old-price{
    text-decoration: line-through;
}
.prefixbox-regular-price{
    color: #1abc9c;
}
.group-id-2{
    overflow-y: scroll;
    scrollbar-color: #1abc9c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: stretch;
}
::-webkit-scrollbar-button{
    display: none;
    visibility: hidden;
}